:root {
  --darkGray: hsl(0, 0%, 17%);
  --lightGray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25vh; 
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  z-index: 2;
}

#map {
  margin: 0 auto;
  height: 550px;
  width: 100vw;
  
}

h1 {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  text-align: center;
}

h2 {
  color: var(--lightGray);
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 0.8rem;
}

form {
  display: flex;
  justify-content: center;
  width: 50vw;
  margin: 0 auto;
  position: relative;
}

input {
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 2rem;
  flex-grow: 13;
  outline: none;
  padding: 0 1rem;
  color: var(--darfGray);
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
}

/* input:invalid {
  color: red;
} */

input:valid {
  color: green;
}

input:hover {
  cursor: pointer;
}

input:invalid + button {
  pointer-events: none;
}

button {
  font-weight: 700;
  color: white;
  background-color: black;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  flex-grow: 1;
}

button:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 17%, 90%);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  width: 80vw;
  height: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 1px 5px var(--lightGray);
}

.grid-item {
  width: auto;
  height: auto;
  padding: 2rem;
}

p {
  font-weight: 500;
}

.wrong-input-message {
  width: fit-content;
  margin: 0.2rem auto;
  padding: 2px;
  border-radius: 5px;
  color: rgb(255, 0, 0);
  text-shadow: 2px 2px 5px black;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  background-color: hsla(0, 0%, 59%, 50%);
}

.wrong-input-message::before {
  content: 'X';
  margin: 0 0.2rem;
  color: red;
}

.inactive {
  display: none;
}

@media screen and (max-width: 600px)  {
 
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 80vw;
    height: auto;
    padding: 0.8rem 0;
  }

  .grid-item {
    padding: 0.5rem;
    margin: 0 auto;
    text-align: center;
  }

  form {
    width: 80vw;
  }

  .header {
    gap: 0.9rem;
  }

}